* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.content {
  display: flex;
  gap: 10%;
  margin: 0 10%;
  justify-content: space-around;

  
}

.plant-info {
  width: 15%;
}