@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between

}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.right-links *,
.left-links *{
  list-style-type: none;
  text-decoration: none;
  color: rgb(87, 87, 87);
  display: inline-flex;
}
.right-links li,
.left-links li{
  margin: 0 5px;
}

.right-links,
.left-links {
  margin: 1%;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  
  
}
.footer{
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.buttons button {
  padding: 7px;
}
